@import "../../stylesheet/variables";

.header{
    display: flex;
    align-items: center;
    height: 64px;

    background: $button_bg_color;
    color: $text_color;
    padding: 20px;

    &--logo{
        height: 100%;
        margin-right: 8px;
    }
    &--title{
        font-size: 1.25rem;
    }
}